openapi: 3.0.3
info:
  title: Notification Template API
  version: 1.0.0
  description: |
    Notification Template API - enables the management of notification templates for the epilot platform.

    Notification templates define the content and structure of notifications sent to users.
  contact:
    name: Support
    email: info@epilot.cloud
    url: https://help.epilot.cloud

tags:
  - name: NotificationTemplate
    description: Notification Template operations
  - name: notification_template_schema
    x-displayName: NotificationTemplate
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/NotificationTemplate" />

x-tagGroups:
  - name: APIs
    tags:
      - NotificationTemplate
  - name: Schemas
    tags:
      - notification_template_schema

security:
  - EpilotAuth: []
  - EpilotOrg: []

servers:
  - url: https://notification-template.sls.epilot.io
    description: Production server

paths:
  /v1/templates:
    get:
      operationId: listNotificationTemplates
      summary: List Notification Templates
      description: List notification templates with optional filtering and pagination
      tags:
        - NotificationTemplate
      parameters:
        - name: q
          in: query
          required: false
          description: Lucene query string for filtering (default returns all)
          schema:
            type: string
          example: "name:webhook*"
        - name: from
          in: query
          required: false
          description: Pagination offset (0-based)
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: size
          in: query
          required: false
          description: Maximum number of results to return (max 1000)
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 25
        - name: sort
          in: query
          required: false
          description: Sort field(s), prefix with - for descending
          schema:
            type: string
          example: "-_created_at"
        - name: fields
          in: query
          required: false
          description: Comma-separated list of fields to include
          schema:
            type: string
          example: "_id,name,type"
        - name: hydrate
          in: query
          required: false
          description: When true, resolves nested relation references
          schema:
            type: boolean
            default: false
      responses:
        "200":
          $ref: "#/components/responses/NotificationTemplateListResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/ServerErrorResponse"

    post:
      operationId: createNotificationTemplate
      summary: Create Notification Template
      description: Create a new notification template
      tags:
        - NotificationTemplate
      requestBody:
        $ref: "#/components/requestBodies/CreateNotificationTemplateRequest"
      responses:
        "201":
          $ref: "#/components/responses/NotificationTemplateResponse"
        "400":
          $ref: "#/components/responses/ClientErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/ServerErrorResponse"

  /v1/templates/{id}:
    get:
      operationId: getNotificationTemplate
      summary: Get Notification Template
      description: Get a single notification template by ID
      tags:
        - NotificationTemplate
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          $ref: "#/components/responses/NotificationTemplateResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/ServerErrorResponse"

    put:
      operationId: updateNotificationTemplate
      summary: Update Notification Template
      description: Update an existing notification template
      tags:
        - NotificationTemplate
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        $ref: "#/components/requestBodies/UpdateNotificationTemplateRequest"
      responses:
        "200":
          $ref: "#/components/responses/NotificationTemplateResponse"
        "400":
          $ref: "#/components/responses/ClientErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/ServerErrorResponse"

    delete:
      operationId: deleteNotificationTemplate
      summary: Delete Notification Template
      description: Permanently delete a notification template
      tags:
        - NotificationTemplate
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          $ref: "#/components/responses/NotificationTemplateResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/ServerErrorResponse"

components:
  securitySchemes:
    EpilotAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Epilot Bearer token
    EpilotOrg:
      type: apiKey
      in: header
      name: x-epilot-org-id
      description: Epilot Organization ID

  parameters:
    IdPathParam:
      name: id
      in: path
      required: true
      description: Template ID (UUID)
      schema:
        type: string
      example: "1fdc8f66-0e2b-4e20-a347-9cbdbf6a7217"

  schemas:
    NotificationTemplate:
      type: object
      description: A notification template entity
      required:
        - _id
        - name
        - type
      properties:
        _id:
          type: string
          format: uuid
          description: Unique identifier
          example: "b5fd5b8f-4e98-4fca-9b91-13b7c849d550"
        _schema:
          type: string
          description: Entity schema type
          example: "notification_template"
        _title:
          type: string
          description: Display title
          example: "Webhook delivery failed"
        _org:
          type: string
          description: Organization ID
          example: "739224"
        _tags:
          type: array
          items:
            type: string
          description: Tags for categorization
          example: ["default"]
        _created_at:
          type: string
          format: date-time
          description: ISO timestamp of creation
        _updated_at:
          type: string
          format: date-time
          description: ISO timestamp of last update
        name:
          type: string
          description: Template name
          example: "Webhook delivery failed"
        type:
          type: string
          description: Template type identifier
          example: "system.webhook_delivery_failed"
        heading:
          type: string
          description: Notification heading
          example: "My heading"
        message:
          type: string
          description: Notification message content
          example: "My message"

    CreateNotificationTemplateInput:
      type: object
      description: Input for creating a new notification template
      required:
        - name
        - type
      properties:
        name:
          type: string
          description: Template name
          example: "Webhook delivery failed"
        type:
          type: string
          description: Template type identifier
          example: "system.webhook_delivery_failed"
        heading:
          type: string
          description: Notification heading
        message:
          type: string
          description: Notification message content
        _title:
          type: string
          description: Display title
        _tags:
          type: array
          items:
            type: string
          description: Tags for categorization

    UpdateNotificationTemplateInput:
      type: object
      description: Input for updating an existing notification template
      properties:
        name:
          type: string
          description: Template name
        type:
          type: string
          description: Template type identifier
        heading:
          type: string
          description: Notification heading
        message:
          type: string
          description: Notification message content
        _title:
          type: string
          description: Display title
        _tags:
          type: array
          items:
            type: string
          description: Tags for categorization

    Error:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code
        error:
          type: string
          description: Error message

  requestBodies:
    CreateNotificationTemplateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateNotificationTemplateInput"

    UpdateNotificationTemplateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateNotificationTemplateInput"

  responses:
    NotificationTemplateResponse:
      description: Single notification template response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotificationTemplate"

    NotificationTemplateListResponse:
      description: List of notification templates
      content:
        application/json:
          schema:
            type: object
            properties:
              results:
                type: array
                items:
                  $ref: "#/components/schemas/NotificationTemplate"
              hits:
                type: integer
                description: Total number of results

    ClientErrorResponse:
      description: Client error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    UnauthorizedResponse:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    ForbiddenResponse:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    NotFoundResponse:
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    ConflictResponse:
      description: Conflict - resource already exists
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    ServerErrorResponse:
      description: Server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
